
#logo{
    width: 100%;
    height: 70px;
}
#logo>div{  /*指在logo标签中的div*/
    float: left;
}
#logo:after{   /*清除浮动*/
    content: '';
    display: block;
    clear: both;  /*清除浮动*/
}
.Bigframe{
    width:100%;
    height: 600px;
    /*border: 2px dotted cornflowerblue;*/
    background-image:url("../../src/assets/20.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    position: relative; /*相对位置*/
    background-position: 100%;

}


.frame_1{
  width: 380px;
    height: 450px;
    margin: 90px 240px 100px 0;
    float:right;
    /*border: 2px dotted cornflowerblue;*/
    background-color: white;
}

.x-text{
    position: relative; /*默认与外面框的宽相等*/
    height: 78px;
    line-height: 78px;
    padding: 0 30px;
}

.iuptxt {
    width: 320px;
    height: 23px;
    border: 1px solid #cfcdc7;
    background: #fff;
    color: #999;
    padding: 2px 0 2px 2px;
    margin-left: 30px;
}

.o-text{
    width: 320px;
    height: 188px;
    margin:5px 0 0 30px;
}

.u-text{
    width:324px;
    height: 29px ;
    background-color: coral;
    color: white;
    margin:8px 0 0 30px;
}

.g-text{
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    margin-top: 7px;
}

.i-tsxt{
    width: 380px;
    height: 30px;
    text-align: center;
    background-color: white;
    font-size: 11px;
    /*margin-top: 93px;*/
}

.header{
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    margin-left: 17px;
    color: lightslategray;
}


.tail{
    width: 100%;
    height: 79px;
    padding-top: 25px;
    background-color: #999999;
    font-size: 13px;
    color: white;
    text-align: center;

}
